name: "Deploy TODO Tasks"

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    strategy:
      matrix:
        configuration: [Release]

    runs-on: windows-latest 

    env:
      Project_path: TodoList\TodoList.csproj                       
      Test_Project_Path: TodoList.Core.Tests.NUnit\TodoList.Core.Tests.NUnit.csproj                

    steps:
    - uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x

    #- name: Run Test
    #  run: dotnet test #${{ env.Test_Project_Path }}

    - name: Restore the application
      run: dotnet restore ${{ env.Project_path }}

    - name: Build the application
      run: dotnet build ${{ env.Project_path }} -c Release --no-restore

    - name: Publish the application
      run: dotnet publish ${{ env.Project_path }} -c Release --self-contained -r win-x64 -p:PublishSingleFile=true

    - uses: actions/create-release@v1
      id: create_release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: ${{ github.ref }}

    - uses: csexton/release-asset-action@v2
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        pattern: TodoList/bin/Release/net6.0-windows10.0.19041.0/win-x64/publish/*.exe
        release-url: ${{ steps.create_release.outputs.upload_url }}
